[submodule "project/lib/raygui"]
	path = project/lib/raygui
	url = https://github.com/raysan5/raygui.git
[submodule "project/lib/raylib"]
	path = project/lib/raylib
	url = https://github.com/raysan5/raylib
