<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

	::foreach ANDROID_PERMISSIONS::::if ((value != null) && (value != ""))::<uses-permission android:name="::key::" android:required="::value::" />::end::::end::

	<application ::foreach ANDROID_APPLICATION::::if ((value != null) && (value != ""))::::key::="::value::" ::end::::end::>

		<activity ::foreach ANDROID_ACTIVITY::::if ((value != null) && (value != ""))::::key::="::value::" ::end::::end::>

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

			::foreach ANDROID_METADATA::
			::if ((value != null) && (value != ""))::
			<meta-data android:name="::key::" android:value="::value::" />
			::end::
			::end::

		</activity>
	</application>
</manifest>
