<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

	::foreach ANDROID_PERMISSIONS::<uses-permission android:name="::__current__::" />
	::end::

	<application ::foreach ANDROID_APPLICATION::::if ((value != null) && (value != ""))::::key::="::value::" ::end::::end::>
	<application
		android:label="${APP_LABEL}"
		android:icon="@drawable/icon"
		android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
		android:allowBackup="true"
		android:hardwareAccelerated="true"
		android:allowNativeHeapPointerTagging="false"
		android:appCategory="game">

		<activity ::foreach ANDROID_ACTIVITY::::if ((value != null) && (value != ""))::::key::="::value::" ::end::::end::>

		<activity
			android:name="GameActivity"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|uiMode|locale|layoutDirection|navigation"
			android:screenOrientation="${APP_ORIENTATION}"
			android:launchMode="singleTask"
			android:resizeableActivity="false"
			android:clearTaskOnLaunch="true"
			android:exported="true">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

			<meta-data android:name="android.app.lib_name" android:value="${APP_LIB_NAME}" />
		</activity>
	</application>
</manifest>
